{% extends 'app.html' %}

{% block header %}
<h1>{% block title %}New account{% endblock %}</h1>
{% endblock %}

{% block content %}


</div>
<form action="{{ url_for('account.create_account')}}" method="POST">
    <h4 class="h4">Add a new account:</h4>
    <div class="row g-2 me-2">
        <div class="form-group col-8 col-md-4">
            <input class="form-control" type="text" placeholder="Enter here the name of your new account"
                name="newaccount">
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-2">Add account</button>

    {% endblock %}