{% extends 'app.html' %}

{% block header %}
<h1>{% block title %}Accounts{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table table-stiped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Month</th>
            <th scope="col">This Month</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <th scope="row">{{ account['title'] }}</th>
            <td>{{ account['total_last_month']|format_currency }}</td>
            <td>{{ account['total_current_month']|format_currency }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('account.add', id = account['id']) }}">Add expense</a>
                <a class="btn btn-secondary" href="{{ url_for('account.single', id = account['id']) }}">Details</a>

                <form action="{{ url_for('account.delete_account') }}" method="POST" style="display: inline;">
                    <input type="hidden" name="id" value="{{ account['id'] }}">
                    <button type="submit" class="btn btn-secondary">Delete account</button>
                </form>
            </td>

            {% endfor %}
    </tbody>
</table>

<a class="btn btn-outline-secondary my-2" href=" {{ url_for('account.create_account') }}">Add account</a>
{% endblock %}