{% extends 'app.html' %}

{% block header %}
<h1>{% block title %}{{ category['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for account_type, positions in account_data.items() %}
<h3 class="h3">{{ account_type }}</h3>
<table class="table table-stiped">
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Account</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.text }}</td>
            <td>
                <a href="{{ url_for('account.index') }}">{{ position.account }}</a>
            </td>
            <td>{{ position.amount|format_currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}