{% extends 'app.html' %}

{% block header %}
<h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <p class="form-control-static">{{ user['username'] }}</p>
        </div>
        <div class="form-group">
            <label for="address">Adresse:</label>
            <p class="form-control-static">
                <span>{{ user['street'] + ' ' + user['street_nr'] }}</span><br>
                <span>{{ user['zip'] + ' ' + user['city']}}</span>
            </p>
        </div>
        <form action="{{ url_for('user_profile.edit')}}" method="POST">
            <label for="street1" class="form-label">Neue Adresse:</label>
            <div class="d-flex mb-3">
                <input type="text" class="form-control me-2" id="street" name="street" placeholder="Strasse"
                    style="width: 200px;">
                <input type="text" class="form-control" id="street_nr" name="street_nr" placeholder="Hausnr."
                    style="width: 100px;">
            </div>
            <div class="d-flex mb-3"> <!-- Hier wird ein Zeilenabstand von 3 Einheiten hinzugefügt -->
                <input type="text" class="form-control me-2" id="zip" name="zip" placeholder="PLZ"
                    style="width: 100px;">
                <input type="text" class="form-control" id="city" name="city" placeholder="Wohnort"
                    style="width: 200px;">
            </div>
    </div>

    <!-- Other form fields -->

    <button type="submit" class="btn btn-primary">Adresse ändern</button>
    </form>
</div>
</div>

{% endblock %}