{% extends 'app.html' %}

{% block header %}
<h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <p class="form-control-static">{{ user['username'] }}</p>
        </div>
        <div class="form-group">
            <label for="address">Adresse:</label>
            <p class="form-control-static">
                <span>{{ user['street'] }}</span><br>
                <span>{{ user['zip'] + ' ' + user['city']}}</span>
            </p>
        </div>
        <form action="{{ url_for('user_profile.edit')}}" method="POST">
            <!-- Other form fields -->

            <div class="mb-3">
                <label for="street" class="form-label">Neue Strasse:</label>
                <input type="text" class="form-control" id="street" name="street"
                    placeholder="Bitte gib hier deine neue Adresse ein">
            </div>

            <!-- Other form fields -->

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>

{% endblock %}