<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - Finkong</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-4 text-white text-decoration-none">
                <img src="{{ url_for('static', filename='images/finkong-icon.png')}}" alt="Finkong Icon" width="48"
                    height="48" class="rounded-circle">
                <span class="px-2 text-white">Finkong</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('account.index')}}" class="nav-link px-2 text-secondary">Accounts</a></li>
            </ul>

            <div class="text-end">
                {% if g.user %}
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-white px-2">Hallo {{ g.user['username'] }}!</span>
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout out</a></li>
                    </ul>
                </div>
                {% else %}
                <a class="btn btn-outline-light me-2" href="{{ url_for('auth.login') }}">Login</a>
                <a class="btn btn-warning" href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<main class="container-fluid">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>